.NewNoteColumn {
    height: 100%;
    flex: 3;
    display: flex;
}

.NewNote {
    width: 37.5%;
    height: 100%;
    max-height: 100%;
    float: left;
    overflow-y: auto;
    max-width: 100%;
    flex: 1;
}

.NewNote form {
    height: 100%;
    padding: 1%;

}

.NewNote input[type="text"] {
    width: 98%;
    height:4%;
    font-family: monospace;
    font-weight: bold;
    padding: 0;
    font-size: 23px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.NewNote input[type="text"]:focus {
    outline: none;
}


.NewNote textarea {
    width: 98%;
    height: 90%;
    padding: 0;
    font-family: monospace;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid gray;
    resize: none;
}

.NewNote textarea:focus {
    outline: none;
}

.NewNote input[type="submit"] {
    width: 50%;
}

.RenderMarkdown {
    padding: 2%;
    height: 100%;
    max-height: 100%;
    border-left: 1px solid gray;
    overflow-y: auto;
    text-align: left;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
}

.RenderMarkdown img {
    width: 200px;
    height: 200px;
}

.RenderMarkdown pre,
.RenderMarkdown code {
    background-color: #f6f8fa;
}
